@import "../../styles/styles.scss";
@import "../../styles/variables.scss";

.input-wrapper {
  display: flex;
  background: $default-color;
  padding: $space-s $space-xs;
  border: 1px solid transparent;
  border-radius: $border-radius;
  width: 100%;
  height: 52px;
  transition: border-color 0.2s ease, background-color 0.2s ease,
    color 0.2s ease;

  &:focus-within {
    border-color: $brand;
  }
  &.dark {
    background-color: $dark-secondary-background;
    &:focus-within {
      border-color: $dark-brand;
    }
  }
}

.input-wrapper_disabled .input {
  background: $brand-disabled;
  color: $text-secondary;
  border-color: $default-color;
}

.input {
  color: $text-primary;
  appearance: none;
  border: none;
  background: none;
  outline: none;
  margin: 0;

  width: 100%;

  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;

  &::placeholder {
    color: $brand-disabled;
  }

  &-after {
    flex-shrink: 0;
    margin-left: $space-xxs;
  }
  &.dark {
    color: $dark-text-primary;

    &::placeholder {
      color: $dark-text;
    }
  }
}
