@import "../../styles//variables.scss";
.sat__page {
  background-image: url("../../assets/icons/backimg.webp");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  // background-color: #ff0404;

  &_wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 0px auto;
    margin-top: 100px;
  }
  &_rover {
    margin-top: 110px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.profile__view {
  width: 10%; /* Задайте нужную ширину */
  border-radius: 10px;
  height: 500px;
  background-color: rgb(1, 15, 105); /* Измените цвет фона на свой */
}