@import "styles/variables.scss";
@import "styles/styles.scss";

.button {
  color: $text-primary;
  min-height: 52px;
  // padding: $space-s $space-l;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.1s ease;
  background: none;
  border: 1px solid #fff;
  display: inline-flex;
  align-items: center;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background: rgba(255, 255, 255, 0.498);
  }

  &:disabled {
    pointer-events: none;
  }

  &.button_disabled {
    background-color: $brand-disabled;
    color: $default-color;
  }

  &__text {
    transition: color 0.3s ease;
    font-size: 18px;
    color: $default-color;
    margin: 0 auto;
  }

  &__loader {
    transition: color 0.3s ease;
    margin-right: 8px;
    flex-shrink: 0;
  }
}
