@import "styles/variables.scss";
@import "styles/mixins.scss";
@import "styles/styles.scss";

.info {
  width: 28%;
  color: $default_color;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  align-content: center;
  padding: 20px 0px;

  &__wrapper {
    margin: 0 auto;
    width: 80%;
    // height: 30%;

    // padding: 20px;
    // box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    // background: rgba(255, 255, 255, 0.1);
    // border-radius: 20px;
    // backdrop-filter: blur(5px);
  }
  &__content {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &_button {
      margin-bottom: 15px;
    }

    &-btns {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
    }

    &-btn {
      display: block;
      width: 100%;
    }

  }

  &__manage {
    display: grid;
    // margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
  }

  &__manage Button {
    width: 40px;
    // margin-bottom: 20px;
    height: 40px;
    // background-color: #ffffff;
    // border: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
  }

  &__manage Button:nth-child(1) {
    grid-column: 2;
  }

  &__manage Button:nth-child(2) {
    grid-row: 2;
  }

  &__manage Button:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
  }

  &__manage Button:nth-child(4) {
    grid-row: 2;
    grid-column: 3;
  }
}
