$brand: #518581;
$brand-hover: #86aaa7;
$brand-disabled: #d9d9d9;
$brand-active: #487773;
$default-color: #fff;
$text-primary: #000;
$text-secondary: #afadb5;
$checkbox-disabled: rgba(255, 255, 255, 0.5);
$description-background: rgba(181, 70, 15, 0.33);
$box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
$border-radius: 10px;

$dark_brand: #400072;
$dark-brand-hover: #790ccb;
// $brand-disabled: #d9d9d9;
$dark-brand-active: #400072;
$dark-default-color: #fff;
$dark-text-primary: #fff;
// $text-secondary: #afadb5;
// $checkbox-disabled: rgba(255, 255, 255, 0.5);
// $description-background: rgba(181, 70, 15, 0.33);
// $box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
