@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/styles.scss';

.form {
    
    &__title {
        text-align: center;
        font-size: 35px;
        margin-bottom: 50px;
    }
}

.login__form {
    z-index: 6000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: #fafafae1;
    padding: 50px;
    border-radius: $border-radius;

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-btn {
        right: 0;
        max-width: auto;
        text-align: center;
    }

    &-link {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

